html,
body {
  background-size: 800% 800%;
  height: 100%;

}

.pulsingColor {
  background: #fa7575;
  animation: Gradient 10s linear infinite;
  animation-direction: alternate;
}

@keyframes Gradient {
  0% {
    background: #da6163
  }

  100% {
    background: #641b1d
  }
}

@keyframes wiggle {
  0% {
    bottom: 15px;
  }

  50% {
    bottom: 35px;
  }

  100% {
    bottome: 15px;
  }
}

/*box that takes up the space that the white header background used to take up*/
.fillerbox {
  width: 100%;
  height: 100%;
  opacity: 0%;
  z-index: 0;
}

/*white header background */
.oHeader {
  position: fixed;
  top: -20%;
  background: white;
  color: black;
  width: 100%;
  height: 140%;
  /*Hopefully fixes the white bar not expanding on mobile by overflowing slightly*/
  text-align: center;
}

/*div containing logo, title, etc.*/
.title-box {
  position: relative;
  top: 24%;
  bottom: 10%;
  margin: auto;
}


#logo {
  width: 200px;
  height: 30vh;
}

#drug-deaths-data {
  margin: auto;
  text-align: center;
  width: 100%;
}

/*Title Text*/
#title-text {
  display: auto;
  font-size: 6vw;
}

.main-description {
  font-size: 8vmin;
  width: 75%;
  margin: auto;
}

#arrow {
  position: static;
  text-align: center;
  bottom: 10px;
  height: 40%;
}

#V {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 15px;
  height: 1em;
  font-size: 5vh;
  animation: wiggle 2s ease infinite;
}

.btn-dark,
.btn-dark:hover,
.btn-dark:active {
  background-color: #646464 !important;
  color: white;
  border: none;
  background: #fa7575;
  animation: Gradient 15s linear infinite;
  animation-direction: alternate;
  animation-delay: -5s;
}

#button1 {
  background: #c56869;
  color: white;
}

#button2 {
  background: #ce4b4e;
  color: white;
}

#button3 {
  background: #b43134;
  color: white;
}

#button4 {
  background: #8c2629;

  color: white;
}

#button5 {
  background: #641b1d;

  color: white;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 0 4em 0 1em;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 20px;
  bottom: -20px;
  left: 10px;
}

/* Container around content */
.timeline-card {
  left: 40px;
  right: 4em;
}

.card-body {
  font-size: 1em;
}

/* The circles on the timeline */
.timeline-card::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  /*border: 4px solid #e475fa;/*rgb(243, 183, 126);*/
  border-radius: 50%;
  top: 0px;
  z-index: 1;
  left: -40px;
}

.halfSpace {
  height: 50px;
}

.space {
  height: 100px;
}

.map {
  border: 2px inset black;
  width: 100%;
  height: 60vh;
  margin-top: 1em;
}

#return {
  content: 'Return where you left off';
}

#Info {
  border: none;
  margin: 10px 10px;
  padding: 10px 10px;
}

@media only screen and (max-width: 700px) {

  /*The text was small at */
  .card-title {
    font-size: 1.5em;
  }

  .card-body {
    padding: 10px;
    padding-top: 20px;
    font-size: .9em;
  }

  .map {
    width: 108%;
    left: -4%;
    right: -4%;
  }
}

@media only screen and (max-width: 450px) {

  /*The text was small at */
  .card-title {
    font-size: 1.5em;
  }

  #drug-deaths-svg {
    margin: auto;
    text-align: center;
    width: 200px;
  }

  #Info {
    border: none;
    margin: 20px 1em;
    padding: 10px 10px;
  }

  .card-body {
    margin: 0px 0px;
    padding: 20px 0px 10px 0px;
    font-size: .9em;
  }

  .timeline-card {
    left: 0px;
    right: 0px;
    width: 100%;
  }

  .timeline {
    margin: 0em .5em 0em .5em;
  }

  .space {
    height: 70px;
  }

  /* Removes Line */
  .timeline::after {
    width: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
  }

  /*Removes circle*/
  .timeline-card::after {
    width: 0px;
    height: 0px;
  }

}